.parentDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.userDetails{
    display: flex;
    align-items: center;
    gap: 10px;
}

.imageDiv{
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.textDiv{
    display: flex;
    flex-direction: column;
}